
<div>
        <h3 align="left" style="margin-left: 60px; color: #243da8">Commercial Kit</h3>
        <div class="container">
	<form (ngSubmit)="onSubmit()" #commercialkit>
		<div class="form-group">
			<div class="col-sm-6">
			<label for="clientID">Client ID</label>
			<input type="text" class="form-control" id="clientID" required [(ngModel)]=" model.clientID" name="clientID" #clientID="ngModel">
		</div>

         <div class="col-sm-6">
			<label for="campaignID">Campaign ID</label>
			<input type="text" class="form-control" id="campaignID" required [(ngModel)]=" model.campaignID" name="campaignID" #campaignID="ngModel">
		</div>
	</div>

		<div class="form-group">
            <div class="col-sm-3" style="margin-top:18px">    
            <label for="startDate" class="col-sm-3 control-label" style="width:40%; margin-left:-13px">Start Date</label>
                <input type="date" id="startDate" class="form-control" [(ngModel)]="model.startDate" />
            </div>
 
            <div class="col-sm-3" style="margin-top:18px">
            <label for="endDate" class="col-sm-3 control-label" style="width:37%; margin-left:-15px">End Date</label>
                <input type="date" id="endDate" class="form-control" [(ngModel)]="model.endDate" />
            </div>
		
            <div class="col-sm-6" style="margin-top:18px">
            <label>Creative Size</label>
            <select class="form-control">
            <option value="">Please select a size</option>
            <option *ngFor=" let creativeSize of creativeSizes" [value]="creativeSize"> 
             {{creativeSize}} 
            </option>
            </select>
                </div>
       </div>

		<div class="form-group">
		<div class="col-sm-6" style="margin-top: 23px;">
			<label for="impressions">#Impressions</label>
			<input type="text" class="form-control" id="impressions" required [(ngModel)]=" model.impressions" name="impressions" #impressions="ngModel">
		</div>
		<div class="col-sm-6" style="margin-top: 23px;"> 
			<label for="budget">Budget</label>
			<input type="text" class="form-control" id="budget" required [(ngModel)]=" model.budget" name="budget" #budget="ngModel">
        </div>
        </div>

		<div class="form-group">
            <div class="col-sm-6" style="margin-top: 20px;">
			<label for="ctrGoal">CTR Goal</label>
			<input type="text" class="form-control" id="ctrGoal" required [(ngModel)]=" model.ctrGoal" name="ctrGoal" #ctrGoal="ngModel">
		</div>
		<div class="col-sm-6" style="margin-top: 20px;">
			<label for="viewabilityGoal">Viewability Goal</label>
			<input type="text" class="form-control" id="viewabilityGoal" required [(ngModel)]=" model.viewabilityGoal" name="viewabilityGoal" #viewabilityGoal="ngModel">
        </div>
		</div>
		
       <div class="form-group">
           <div class="col-sm-6" style="margin-top: 20px">
            <label>Campaign Line</label>
            <select class="form-control">
            <option value="">Please select a campaign line</option>
            <option *ngFor=" let campaignLine of campaignLines" [value]="campaignLine"> 
             {{campaignLine}} 
            </option>
            </select>
       </div>
       <div class="col-sm-6" style="margin-top: 20px">
            <label>Device Type</label>
            <select class="form-control">
            <option value="">Please select a device type</option>
            <option *ngFor=" let deviceType of deviceTypes" [value]="deviceType"> 
             {{deviceType}} 
            </option>
            </select>
       </div>
       </div>
       <div class="col-sm-2 btn_style">

		<button type="submit" class="btn btn-success">
			Submit
		</button>
		<button type="reset" class="btn btn-default">
			Reset
        </button>
       </div>
    </form>
</div>
</div>
