<div class="container-fluid text-center">    
	<div class="row content">
		<div class="col-sm-12 text-center"> 
			<div class="row">
				<div class="col-md-6"  align="left" style="margin-top: 6px;">
					<h3>Lookups Maintenance Engine</h3>
				</div>
			</div>
			<hr>
			
			<div class="row">
				<div class="col-md-4">
					<div class="input-group">
						<input type="text" class="form-control"  	 placeholder="Search for Lookups...">
						<span class="input-group-btn">
							<button class="btn btn-success" type="button">Search</button>
						</span>
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
				
				<div class="col-md-2">
					<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete Selected</button>
				</div>   
				<div class="col-md-2">
					<button type="button" class="btn btn-success">Create New Lookup</button>
				</div> 
				
				<div class="col-md-2">
					<button type="button" class="btn btn-info">Export to CSV</button>
				</div>
			</div> 

			<hr/>
			

			<div class="row">
				<div class="col-lg-12">
                    
				 <div class="panel-body">
                       <table width="100%" class="table table-striped table-condensed table-bordered table-hover" id="lookup-table">
						<thead>
							<tr>
								<th><input type="checkbox" name="check"/></th>
								<th>Lookup</th>
								<th>Description</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let lookup of lookups">
								<td align="left"><input type="checkbox" name="check"/></td>
								<td align="left">{{ lookup.name }}</td>
								<td align="left">{{ lookup.description }}</td>
								<td align="left">
									<button type="button" class="btn btn-success">
										<a href="/views/view-lookup.html">VIEW</a>
									</button>
									<button type="button" class="btn btn-info">EDIT</button>
									<button type="button" class="btn btn-danger">DELETE</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<hr>
				
			</div>
		 
		</div>
	</div>	  
	
</div>


 <script>
    $(document).ready(function() {
        $('#lookup-table').DataTable({
            responsive: true
        });
    });
  </script>