  <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12" align="center">
                    <img src="assets/images/amnet.png" class="amnet-logo img-responsive" />
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row"><h1 class="page-header">
              <div align="center">
                <b>Admin</b>
              </div>
                </h1>
            </div>

					<div class="row" align="center">
					 <div class="col-lg-4" align="center"></div>
					 <div class="col-lg-4" align="center">
						<div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-fw fa-eye fa-5x"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9 text-left">
                                    <div class="huge">Lookup Maintenance</div>
                                </div>
                            </div>
                        </div>
                        <a href="" routerLink="lookupInventory">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    </div>
                    <div class="col-lg-4" align="center"></div>
		
				    </div> 
			 
</div>

 